{% extends "base.html" %}



{% block scripts %}

<link rel="stylesheet" href="/media/plugins/datatables/media/css/jquery.dataTables_themeroller.css"/>




<script type="text/javascript" src="/media/plugins/datatables/media/js/jquery.dataTables.js"></script>


<script type="text/javascript">
var osTable;
$(function(){

$.getJSON("{% url config %}",null,function( json ){

    			osTable = $('#{{ table_id }}').dataTable(json);
    			});

    
});

</script>
{% endblock %}

{% load pricing_features %}

{% block containerstyle %}
    style = "width: 95%;"
{% endblock %}

{% block content %}

	{{ table }}

{% endblock %}

